APP_TITLE=Название приложения

# Ссылка для подключения к БД.
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db

# Основа для генерации JWT-токенов.
SECRET=mysecret

# Опционально, если хотите, чтобы при старте проекта автоматически создавался суперюзер.
FIRST_SUPERUSER_EMAIL=example@admin.ru
FIRST_SUPERUSER_PASSWORD=password